<h2>Ochigaki母の占いの館</h2>
    <form method="POST">
    <select name="nengo" class="for" onChange="chg_nengo(this)">
        <option value="西暦" selected>西暦
        <option value="平成">平成
        <option value="昭和">昭和
        <option value="大正">大正
        <option value="明治">明治
    </select>
    <input name="y_inp" type="text" class="for" size=4>
    年
    <input name="m_inp" type="text" class="for" size=2>
    月
    <input name="d_inp" type="text" class="for" size=2>
    日
    <br />
    姓
    <input name="sei_inp" type="text" class="for" size=2>
    名
    <input name="mei_inp" type="text" class="for" size=2>
    <br />
    <select name="seibetu" class="for" onChange="chg_seibetu(this)">
        <option value="女性" selected>女性
        <option value="男性">男性
    </select>
    <br />
    <input type="button" class="for2" onClick="calc(this.form)" value="計算">　
</form>
