<div id="footer">
<!-- コピーライト -->
<p>Copyright &copy; *** 著作権表記 ***. All Rights Reserved.</p>
<p id="cds">CSS Template <a href="http://www.css-designsample.com/">CSSデザインサンプル</a></p>
</div><!-- / footer end -->
