<div id="footer">
<!-- コピーライト -->
<p>Copyright &copy; Ochigaki & JironBach. All Rights Reserved.</p>
<p id="cds">CSS Template <a href="http://www.css-designsample.com/">CSSデザインサンプル</a></p>
</div><!-- / footer end -->
