<div id="header">
<!-- 見出し -->
<!--h1>Ochigaki占いの館</h1-->
<!-- タイトル -->
<!--p class="logo"><a href="index.html">*** 会社名｜店舗名｜タイトル ***</a></p-->
<!-- 概要 -->
<p class="description">Yo-koの大運天中占い</p>
</div><!-- / header end -->
