<div id="sidebar">
<!-- サイドバー ここから -->
<p class="sidetitle">仕事運</p>
<ul class="localnavi">
  <li><a href="#">上司</a></li>
  <li><a href="#">部下</a></li>
</ul>

<p class="sidetitle">恋愛運</p>
<ul class="localnavi">
  <li><a href="#">出会い</a></li>
  <li><a href="#">職場</a></li>
</ul>
<!-- サイドバー ここまで -->
</div><!-- / sidebar end -->
